# Database
SQLITE_URL
TEST_SQLITE_URL
SECRET_KEY
JWT_ALGORITHM
JWT_EXPIRE_MINUTES
DEFAULT_LOCALE
RELEASE_VERSION
SHOW_SQL_ALCHEMY_QUERIES
DEBUG
# Environment
ENVIRONMENT
DEBUG
SHOW_SQL_ALCHEMY_QUERIES